:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #f5f5f5;
  --second-brand-color: #e9342b;
  --third-brand-color: #00809d;
  --fourth-brand-color: #f2f2f2;
  --fifth-brand-color: #dbdbdb;


  --main-font: 'Josefin Sans';
  --title-font: 'Josefin Sans Medium';
  --main-text-font: 'Josefin Sans Bold';

  font-size: 62.5%;
}
